/* 
These Name: Portfolio White
Theme URI: none
Desctiption: Тема разработана из оригинального дизайна. Главные принципы простота и скорость загрузки.
Author: Ponomarenko Viktor
Author URI: none
Template: none
Version: 0.1
.
Первая попытка посадки темы на вордпресс. Дизайн из фотошопа. Первый этап верстка.
.
*/